body{
    background-color: black;
}

main{
    margin: auto;
    width: 90%;
    height: auto;
    background-color: aquamarine;
}

header{
    width: 100%;
    height: 150px;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #C8FF00;
}

#imglogo{
    position: relative;
    left: 4%;
    width: 230px;
}

ul{
    display: flex;
    list-style-type: none;
    gap: 60px;
    margin-right: 5%;
}

.linksheader{
    text-decoration: none;
    font-size: 35px;
    font-family: 'Genos';
    color: #C8FF00;
}

.linksheader:hover{
    transition: 1s;
    border: 1px solid #C8FF00;
}

.certificado{
    height: auto;
    align-items: center;
}

.imgcert1{
    width: 60%;
}

.imgcert2{
    width: 40%;
}

.textocert{
    width: 30%;
    position: absolute;
    font-size: 60px;
    text-align: center;
    border: 2px solid #C8FF00;
    color: white;
    font-family: 'Genos';
    font-weight: bold;
}

section{
    width: 99.98%;
    height: 700px;
    display: flex;
    justify-content: space-evenly;
    background-image: url(Imagens/fundoaulas.png);
}

.tituloaulas{
    width: 100%;
    height: 100px;
    font-size: 25px;
    color: #C8FF00;
    text-align: center;
    background-image: url(Imagens/fundoaulas.png);
    border: 1px solid #C8FF00;
    border-bottom: none;
}

h1{
    transform: translate(0, 50%);
    font-family: 'Genos';
    margin-top: 0;
}

div{
    width: 300px;
    height: max-content;
}

@font-face {
    font-family: 'Genos' ;
    src: url('Genos-VariableFont_wght.ttf') format('opentype'), url('Genos-Italic-VariableFont_wght.ttf'), format('truetype');
    font-weight: normal;
    font-style: normal;
}

.altura{
    height: 290px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-family: 'Genos';
    color: #C8FF00;
    margin-top: 30px;
}

img{
    width: 300px;
}

.wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    border: 1px solid #C8FF00;
    border-top: none;
}  

.titulo{
    display: flex;
    position: relative;
    margin-top: 0;
    width: 100%;
    height: 100px;
    font-size: 40px;
    color: #C8FF00;
    align-items: center;
    justify-content: center;
    font-family: 'Genos';
}

.imgpilates{
    width: 300px;
    height: 200px;
}

.unitapeva{
    width: 100%;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #C8FF00;
}

.mapa{
    width: 38%;
    height: 380px;
    border-radius: 10px;
}

.imgunidade{
    width: 44%;
    height: 420px;
    border: 2px solid #C8FF00;
}

.unizaira{
    border: 1px solid #C8FF00;
    border-top: none;
    width: 99.98%;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer{
    width: 100%;
    height: 400px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #C8FF00;
}

.imgfooter{
    width: 80px;
    margin-right: 10px;
}

#caixaimgft{
    display: flex;
    width: 400px;
    justify-content: space-around;
}

.txtfooter{
    font-size: 40px;
    font-weight: bold;
    font-family: 'Genos';
    color: #C8FF00;
}

#setatopo{
    width: 80px;
    height: 80px;
    position: fixed;
    right: 0;
    top: 600px;
}


